.editor-styles-wrapper {
  font-size: 62.5% !important;
  background-color: var(--wp--preset--color--aqua);

  .wp-block-post-title {
    font-size: 2.2rem;
  }
}

@import "https://cdn.icomoon.io/42560/TravelDesk/style.css?l5ffji";

@import "base/settings";
@import "base/base";
@import "base/headings";
@import "base/elements";
@import "base/grid";
@import "base/buttons";

@import "blocks/block";

@import "components/header";
@import "components/footer";
@import "components/table";
@import "components/forms";
@import "components/hero-cover";
@import "components/single-column-copy";
@import "components/double-column-copy";
@import "components/gallery";
@import "components/accordion";
@import "components/client-list";
@import "components/activation-list";
@import "components/card";
@import "components/card-office";
@import "components/card-stat";
@import "components/carousel-text";
@import "components/banner-image";
@import "components/banner-text";
@import "components/team-cards";
@import "components/image-callout";
@import "components/stat-ticket";
@import "components/image-carousel";
@import "components/tags-channels";

@import "components/wp-social-links";
@import "components/wp-navigation";

@import "helpers/variables";
@import "vendor/vendor";
