.editor-styles-wrapper {
  font-size: 62.5% !important;
  background-color: var(--wp--preset--color--aqua);

  .wp-block-post-title {
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-family: "Plus Jakarta Sans";
    border-bottom: 2px solid;
    max-width: 90% !important;
  }
}

@import "https://cdn.icomoon.io/42560/TravelDesk/style.css?l5ffji";

@import "settings/grid";
@import "settings/typography";
@import "settings/imagery";

@import "base/settings";
@import "base/base";
@import "base/headings";
@import "base/elements";
@import "base/grid";
@import "base/buttons";

@import "components/header";
@import "components/footer";
@import "components/table";
@import "components/forms";
@import "components/hero-cover";
@import "components/single-column-copy";
@import "components/double-column-copy";
@import "components/gallery";
@import "components/accordion";
@import "components/client-list";
@import "components/activation-list";
@import "components/cards";
@import "components/card-office";
@import "components/card-stat";
@import "components/carousel-text";
@import "components/banner-image";
@import "components/banner-text";
@import "components/team-cards";
@import "components/image-callout";
@import "components/stat-ticket";
@import "components/image-carousel";
@import "components/tags-channels";

@import "components/social-links";
@import "components/navigation";

@import "site-editor";
