.editor-styles-wrapper {
  font-size: 62.5% !important;
  background-color: var(--wp--preset--color--aqua);

  .wp-block-post-title {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    border-bottom: 0.2rem solid;
    max-width: 95% !important;
  }

  .is-root-container {
    max-width: 95% !important;
  }

  .is-navigation-block {
    .wp-block-navigation-item {
      font-family: var(--wp--preset--font-family--plus-jakarta-sans);
      font-size: 1.6rem;
      font-weight: var(--wp--custom--typography--font-weight--bold);
      line-height: 100%;
      padding: var(--wp--preset--spacing--small);
    }
  }
}
