.editor-styles-wrapper {
  .is-navigation-block {
    .wp-block-navigation-item {
      font-family: var(--wp--preset--font-family--plus-jakarta-sans);
      font-size: 1.6rem;
      font-weight: var(--wp--custom--typography--font-weight--bold);
      line-height: 100%;
      padding: var(--wp--preset--spacing--small);
    }
  }
}
