.is-style-accordion {
  width: 100% !important;
  max-width: 100% !important;
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  padding: 7rem 0;

  @media only screen and (min-width: $tablet) {
    padding: 8rem 0;
  }

  @media only screen and (min-width: $desktop) {
    column-gap: 3rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding: 16rem 0;
  }

  .is-style-accordion-text {
    grid-column: span 5;

    @media only screen and (min-width: $tablet) {
      grid-column: span 4;
    }

    @media only screen and (min-width: $desktop) {
      grid-column: span 5;
    }

    h2 {
      color: var(--wp--preset--color--spruce);
      font-family: var(--wp--preset--font-family--plus-jakarta-sans);
      font-weight: 800;
      text-transform: unset;
      margin-bottom: 1.5rem;
    }

    h3 {
      margin-bottom: 3rem;

      @media only screen and (min-width: $tablet) {
        margin-bottom: 5rem;
      }
    }

    p {
      display: none;
      width: 75%;
      margin-left: 0 !important;

      @media only screen and (min-width: $desktop) {
        display: block;
      }
    }
  }

  // yoast faq block
  .wp-block-yoast-faq-block {
    grid-column: span 8;
    margin-left: 0 !important;
    margin-right: 0 !important;

    @media only screen and (min-width: $tablet) {
      grid-column: 2 / span 7;
    }

    @media only screen and (min-width: $desktop) {
      grid-column: 5 / span 6;
    }
  }

  .schema-faq-section {
    font-family: Arial;
    background: white;
    margin: 1rem 0;
    border: 2px solid rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.03);
  }

  .schema-faq-question {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: opacity ease 0.25s;
    padding: 1rem;
    color: var(--wp--preset--color--primary);
    font-size: var(--wp--preset--font-size--x-large);

    font-family: Prompt;
    font-size: 33px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 33px */
    letter-spacing: 1px;
    text-transform: uppercase;

    padding: 31px 32px 31px 50px;
    background: var(--wp--preset--color--lime);

    border-radius: 11px;

    position: relative;
  }

  .schema-faq-question:hover {
    color: var(--wp--preset--color--secondary);
  }

  .schema-faq-question:before {
    content: "";
    position: absolute;
    background-image: url(../images/icon-close.svg);
    height: 100%;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    top: 0;
    left: 0;
    background-color: red;
  }

  .schema-faq-question.expanded:before {
    content: "-";
  }

  .schema-faq-question:hover {
    opacity: 0.75;
  }

  .schema-faq-answer {
    padding: 0 1rem 1rem 1rem;
    display: none;
  }

  .schema-faq-answer.default {
    display: block;
  }
}

/* Backend Styles: Ensure all content is visible in the block editor */

.editor-styles-wrapper .schema-faq-question {
  cursor: text;
}

.editor-styles-wrapper .schema-faq-answer {
  display: block;
}
