.is-style-card-stat-columns {
  gap: 20px;
}

.is-style-card-stat {
  background-color: var(--wp--preset--color--spruce);
  color: var(--wp--preset--color--coral);
  padding: 8.3rem 3.5rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: inline-block;
  position: relative;

  // ticket notches
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -3rem;
    left: 0;
    height: 2.1rem;
    width: 33%;
    z-index: 1;
    border-right: none;
    border-top-left-radius: $sign-up-btn-border-radius-desktop;
    border-top-right-radius: 0.55rem;
    background-color: var(--wp--preset--color--spruce);

    @media only screen and (min-width: $desktop) {
      height: 3rem;
    }
  }

  &::after {
    left: unset;
    right: 0;
    bottom: 0;
    border-top-left-radius: 0.55rem;
    border-top-right-radius: $sign-up-btn-border-radius-desktop;
  }

  h4 {
    font-family: "Plus Jakarta Sans";
    font-size: 32.637px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 32.637px */
    letter-spacing: 0.989px;
    margin-bottom: 2rem;

    // middle cutaway
    &::after {
      content: "";
      position: absolute;
      top: 2.1rem;
      left: -2.2rem;
      height: 2rem;
      width: 2.7rem;
      border: 1px solid var(--wp--preset--color--lime);
      border-left: none;
      border-bottom-right-radius: 0.55rem;
      border-bottom-left-radius: 0.55rem;
      background: #eaf6f5;
      border: none;

      @media only screen and (min-width: $desktop) {
        top: -20px;
        left: 33%;
        height: 2.6rem;
        width: 34%;
      }
    }
  }

  p {
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
  }
}
