.is-style-client-list-wrapper {
  background-color: var(--wp--preset--color--white);
  padding: 5.2rem var(--wp--custom--grid--gutter) 7rem;

  @media (min-width: $tablet) {
    padding: 5rem var(--wp--custom--grid--gutter-medium);
  }
  @media (min-width: $desktop) {
    padding: 12.2rem var(--wp--custom--grid--gutter-large);
  }
}

.is-style-client-list {
  text-align: center;
  position: relative;
  border-bottom: 2px solid var(--wp--preset--color--strawberry);
  z-index: 0;

  h2 {
    display: inline-block;
    padding: 1.6rem;
    background: var(--wp--preset--color--white);
    margin-bottom: 0;

    &::before {
      content: "";
      height: 2px;
      background-color: var(--wp--preset--color--strawberry);
      width: 100%;
      left: 0;
      display: block;
      position: absolute;
      top: 24px;
      z-index: -1;
    }
  }

  p {
    color: var(--wp--preset--color--strawberry);
    font-family: Prompt;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: left;

    @media only screen and (min-width: $tablet) {
      font-size: 35px;
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      font-family: "Plus Jakarta Sans";
      font-size: 33px;
      font-style: normal;
      font-weight: 200;
      line-height: 28px;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: right;
      margin-bottom: 10px;

      @media only screen and (min-width: $tablet) {
        font-size: 33px;
      }
    }

    &:first-of-type {
      margin-top: 45px;
      text-align: center;

      @media only screen and (min-width: $tablet) {
        margin-top: 68px;
      }
    }

    &:last-of-type {
      margin-bottom: 68px;

      @media only screen and (min-width: $tablet) {
        margin-bottom: 68px;
      }
    }
  }
}
