// Component: Single Column Copy
.is-style-double-column-copy {
  @include grid-container;

  .is-style-double-column-copy-cols {
    grid-column: 3 / span 8;
    display: flex;
    gap: 4rem;
  }

  .is-style-double-column-copy-col {
    grid-column: 3 / span 8;
  }

  h2 {
    margin-left: 0 !important;
    grid-column: span 8;

    @media only screen and (min-width: $desktop) {
      grid-column: 2 / span 7;
    }
  }

  h3,
  h4,
  h5,
  h6,
  p {
    width: 100%;
    grid-column: span 8;

    @media only screen and (min-width: $tablet) {
      grid-column: 2 / span 6;
    }

    @media only screen and (min-width: $desktop) {
      grid-column: 6 / span 5;
    }
  }
}
