.site-footer {
  background-color: var(--wp--preset--color--pine);
  color: var(--wp--preset--color--lime);
  padding: 5.5rem 1.7rem 3rem 1.7rem;

  @media (min-width: $desktop) {
    padding: 10.5rem 6rem 3rem 6rem;
  }

  > * {
    max-width: var(--wp--style--global--wide-size);
    margin: auto;
  }

  .footer-strapline {
    font-size: 4.8rem;
    font-weight: 200;
    letter-spacing: 0.5rem;
    line-height: 100%;
    width: 100%;
    max-width: 100%; // TODO

    @media (min-width: $desktop) {
      font-size: 13.2rem;
      line-height: 22.2rem;
    }

    strong {
      font-family: var(--wp--preset--font-family--prompt);
      font-size: 5rem;
      font-weight: 800;
      line-height: 100%;
      letter-spacing: 0.8rem;
      text-transform: uppercase;
      display: block;

      @media (min-width: $desktop) {
        font-size: 14rem;
        line-height: 22.2rem;
        margin-top: -7.5rem;
        text-align: right;
        margin-right: 8vw;
      }
    }
  }

  .wp-block-columns {
    flex-wrap: nowrap !important;
  }

  .wp-block-social-links {
    padding-top: 1.5rem;

    @media (min-width: $desktop) {
      padding-top: 0;
    }
  }

  nav {
    padding: 0;

    ul {
      gap: 0 !important;
      justify-content: flex-end !important;
      flex-direction: column !important;
      align-items: flex-end !important;

      @media (min-width: $desktop) {
        align-items: center !important;
        flex-direction: row !important;
      }

      li {
        position: relative;

        &:last-child {
          a {
            padding-right: 0;
          }
        }

        &:not(:last-child) {
          &:after {
            content: "";
            display: block;
            position: absolute;
            height: 1px;
            width: 8.3rem;
            background-color: var(--wp--preset--color--lime);
            bottom: 0;
            right: 0;

            @media (min-width: $desktop) {
              content: "";
              height: 3.2rem;
              width: 1px;
              bottom: unset;
            }
          }
        }

        a {
          font-family: var(--wp--preset--font-family--plus-jakarta-sans);
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 100%;
          padding: 1.5rem 0;

          @media (min-width: $desktop) {
            font-size: 2rem;
            padding: 0 1.8rem;
          }
        }
      }
    }
  }

  p {
    text-align: right;
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    font-size: 1.5rem;
    line-height: 140%;
    margin-top: 1.5rem;

    @media (min-width: $desktop) {
      margin-top: -3rem;
      font-size: 1.3rem;
      line-height: 120%;
    }
  }
}
