.footer-contact-cta {
  padding: 2rem;

  @media (min-width: 1125px) {
    padding: 7.8rem;
  }

  &__internal {
    border-bottom: 1px solid var(--wp--preset--color--spruce);
    border-top: 1px solid var(--wp--preset--color--spruce);
    padding: 6.5rem 0;

    h2 {
      font-family: var(--wp--preset--font-family--plus-jakarta-sans);
      font-size: 8rem;
      line-height: 8rem;
      font-weight: var(--wp--custom--typography--font-weight--normal);
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      max-width: 33.5rem;
      margin: 0 auto;

      @media (min-width: 1125px) {
        max-width: 100rem;
        font-size: 13rem;
        line-height: 14rem;
        letter-spacing: 2rem;
      }

      strong {
        font-family: var(--wp--preset--font-family--prompt);
        font-size: 8rem;
        font-weight: var(--wp--custom--typography--font-weight--bold);
        line-height: 8rem;
        letter-spacing: 0.5rem;

        @media (min-width: 1125px) {
          font-size: 13.4rem;
          line-height: 13.5rem;
          letter-spacing: 0.8rem;
        }
      }
    }

    .graphic-btn {
      width: 13.5rem;
      height: 4.5rem;
      border-radius: 5rem;
      display: -webkit-inline-box;
      background: var(--wp--preset--color--lime);
      position: relative;
      max-width: 41rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      margin-top: -2rem;
      margin-left: 2.2rem;

      @media (min-width: 1125px) {
        width: 50%;
        margin-left: 2rem;
        margin-right: 5rem;
        margin-top: -2.5rem;
      }

      &::before {
        content: "\e909";
        display: block;
        font-family: "icomoon";
        font-size: 2.6rem;
        position: absolute;
        line-height: 0;
        color: var(--wp--preset--color--base);
        font-weight: 100;
        position: relative;
        letter-spacing: 0;

        @media (min-width: 1125px) {
          content: "\e904";
        }
      }
    }

    .graphic-btn--thumb {
      height: 4.5rem;
      border-radius: 5rem;
      display: -webkit-inline-box;
      background: var(--wp--preset--color--lime);
      position: relative;
      max-width: 41rem;
      padding: 0 2rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      margin-right: 1rem;

      @media (min-width: 1125px) {
        margin-right: 3.6rem;
        margin-top: -2.5rem;
      }

      &::before {
        content: "\e907";
        display: block;
        font-family: "icomoon";
        font-size: 2.6rem;
        position: absolute;
        line-height: 0;
        color: var(--wp--preset--color--base);
        font-weight: var(--wp--custom--typography--font-weight--light);
        position: relative;
        letter-spacing: 0;
      }
    }

    .graphic-btn--line {
      height: 4.5rem;
      border-radius: 5rem;
      display: -webkit-inline-box;
      background: var(--wp--preset--color--pine);
      position: relative;
      max-width: 41rem;
      padding: 0 3.8rem 0 3rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      margin-left: 30%;
      margin-top: -2.5rem;

      @media (min-width: 1125px) {
        margin-left: 4.2rem;
      }

      &::before {
        content: "\e908";
        display: block;
        font-family: "icomoon";
        font-size: 2.6rem;
        position: absolute;
        line-height: 0;
        color: var(--wp--preset--color--coral);
        font-weight: 100;
        position: relative;
        letter-spacing: 0;
      }
    }

    .inset {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: center;

      @media (min-width: 1125px) {
        display: unset;
      }
    }

    .wp-block-button {
      margin: 4rem auto 0 auto;
    }
  }
}

.footer-row-internal {
  background-color: var(--wp--preset--color--pine);
  color: var(--wp--preset--color--lime);
  padding: 5.5rem var(--wp--custom--grid--gutter) 3rem
    var(--wp--custom--grid--gutter);

  @media (min-width: $tablet) {
    padding: 5.5rem var(--wp--custom--grid--gutter-medium) 3rem
      var(--wp--custom--grid--gutter-medium);
  }

  @media (min-width: $desktop) {
    padding: 10.5rem var(--wp--custom--grid--gutter-large) 3rem
      var(--wp--custom--grid--gutter-large);
  }

  > * {
    max-width: var(--wp--style--global--wide-size);
    margin: auto;
  }

  .footer-strapline {
    font-size: 4.8rem;
    font-weight: var(--wp--custom--typography--font-weight--normal);
    letter-spacing: 0.5rem;
    line-height: 100%;
    width: 100%;
    max-width: 100%; // TODO

    @media (min-width: $desktop) {
      font-size: 13.2rem;
      line-height: 22.2rem;
    }

    strong {
      font-family: var(--wp--preset--font-family--prompt);
      font-size: 5rem;
      font-weight: var(--wp--custom--typography--font-weight--bold);
      line-height: 100%;
      letter-spacing: 0.8rem;
      text-transform: uppercase;
      display: block;

      @media (min-width: $desktop) {
        font-size: 14rem;
        line-height: 22.2rem;
        margin-top: -7.5rem;
        text-align: right;
        margin-right: 8vw;
      }
    }
  }

  .wp-block-columns {
    flex-wrap: nowrap !important;
  }

  .wp-block-social-links {
    padding-top: 1.5rem;

    @media (min-width: $desktop) {
      padding-top: 0;
    }
  }

  nav {
    padding: 0;

    ul {
      gap: 0 !important;
      justify-content: flex-end !important;
      flex-direction: column !important;
      align-items: flex-end !important;

      @media (min-width: $desktop) {
        align-items: center !important;
        flex-direction: row !important;
      }

      li {
        position: relative;

        &:last-child {
          a {
            padding-right: 0;
          }
        }

        &:not(:last-child) {
          &:after {
            content: "";
            display: block;
            position: absolute;
            height: 1px;
            width: 8.3rem;
            background-color: var(--wp--preset--color--lime);
            bottom: 0;
            right: 0;

            @media (min-width: $desktop) {
              content: "";
              height: 3.2rem;
              width: 1px;
              bottom: unset;
            }
          }
        }

        a {
          font-family: var(--wp--preset--font-family--plus-jakarta-sans);
          font-size: 1.6rem;
          font-weight: var(--wp--custom--typography--font-weight--bold);
          line-height: 100%;
          padding: 1.5rem 0;

          @media (min-width: $desktop) {
            font-size: 2rem;
            padding: 0 1.8rem;
          }
        }
      }
    }
  }

  p {
    text-align: right;
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    font-size: 1.5rem;
    line-height: 140%;
    margin-top: 1.5rem;

    @media (min-width: $desktop) {
      margin-top: -3rem;
      font-size: 1.3rem;
      line-height: 120%;
    }
  }
}
