header {
  height: 10.5rem;
  padding: 0 1.7rem;

  @media (min-width: $desktop) {
    padding: 0 6rem;
  }

  li {
    a {
      /* Desktop/Nav */
      font-family: "Plus Jakarta Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%; /* 16px */
      padding: 1.5rem;
    }
  }
}

.wp-block-navigation__responsive-container.is-menu-open {
  background-color: var(--wp--preset--color--pine) !important;
}
