@keyframes logoColor {
  0% {
    fill: var(--wp--preset--color--strawberry);
  }
  20% {
    fill: var(--wp--preset--color--coral);
  }
  40% {
    fill: var(--wp--preset--color--lime);
  }
  60% {
    fill: var(--wp--preset--color--spruce);
  }
  80% {
    fill: var(--wp--preset--color--pine);
  }
  100% {
    fill: var(--wp--preset--color--strawberry);
  }
}

.change {
  fill: var(--wp--preset--color--strawberry);
  animation-name: logoColor;
  animation-delay: 1s;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.hide-nav header {
  transform: translateY(-150%);
}

header {
  height: 7rem;
  padding: 0 var(--wp--custom--grid--gutter);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--wp--preset--color--aqua);
  transition: 0.4s ease-in-out;

  @media (min-width: $tablet) {
    padding: 0 var(--wp--custom--grid--gutter-medium);
  }

  @media (min-width: $desktop) {
    height: 10.5rem;
    padding: 0 var(--wp--custom--grid--gutter-large);
  }

  .site-logo {
    width: 12rem;
    transition: 0.2s ease-in-out;

    @media (min-width: $desktop) {
      width: 19rem;
    }
  }

  > div {
    height: 100%;
  }

  li {
    a {
      font-family: var(--wp--preset--font-family--plus-jakarta-sans);
      font-size: 1.6rem;
      font-weight: var(--wp--custom--typography--font-weight--bold);
      line-height: 100%;
      padding: 1.5rem;

      &:hover {
        text-decoration: none;
      }

      // desktop hover underline
      @media (min-width: $desktop) {
        &::after {
          content: "";
          width: 0;
          height: 0.2rem;
          position: absolute;
          top: 80%;
          left: 1.5rem;
          background: var(--wp--preset--color--black);
          transition: 300ms;
        }

        &:hover:after {
          width: calc(100% - 3rem);
        }

        &:not(:hover):after {
          right: 1.5rem;
          left: auto;
        }
      }
    }
  }
}

// mobile overlay

// hamburger
.wp-block-navigation__responsive-container-open {
  border-radius: 0.3rem;
  border: 1px solid var(--wp--preset--color--strawberry);
  height: 4rem;
  width: 4.2rem;
  padding: 0.5rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../images/icon-burger.svg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    top: 0;
    left: 0;
  }

  svg {
    display: none;
  }
}

// close mob nav
.wp-block-navigation__responsive-container-close {
  border-radius: 0.3rem;
  border: 1px solid var(--wp--preset--color--lime);
  height: 4rem;
  width: 4.2rem;
  padding: 0.5rem;
  top: 1.5rem !important;
  right: 2.5rem !important;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../images/icon-close.svg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    top: 0;
    left: 0;
  }

  svg {
    display: none;
  }
}

.wp-block-navigation__responsive-container.is-menu-open {
  background-color: var(--wp--preset--color--pine) !important;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../images/traveldesk-white.svg");
    height: 1.6rem;
    width: 12rem;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    top: 3rem;
    left: var(--wp--custom--grid--gutter-sm);
  }

  .wp-block-navigation {
    margin-top: 5.2rem;
    width: 100%;
    gap: 1.5rem;

    li {
      border: 1px solid var(--wp--preset--color--lime);
      border-left: none;
      border-top-right-radius: 0.55rem;
      border-bottom-right-radius: 0.55rem;
      width: 100%;
      max-width: 90%;
      margin: auto;
      position: relative;
      margin-bottom: 1.5rem;

      @media (min-width: $desktop) {
        max-width: 60rem;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: -1.4rem;
        height: 2.4rem;
        width: 1.4rem;
        border: 1px solid var(--wp--preset--color--lime);
        border-right: none;
        border-top-left-radius: $sign-up-btn-border-radius-mob;
        border-bottom-left-radius: $sign-up-btn-border-radius-mob;
      }

      &::after {
        top: unset;
        bottom: -1px;
      }

      &:hover {
        background-color: var(--wp--preset--color--lime);

        &::before,
        &::after {
          background-color: var(--wp--preset--color--lime);
          color: var(--wp--preset--color--pine) !important;
        }

        a {
          background-color: var(--wp--preset--color--lime);
          color: var(--wp--preset--color--pine) !important;

          &::before {
            background-color: var(--wp--preset--color--pine);
          }

          &::after {
            border: 1px solid var(--wp--preset--color--pine);
          }
        }
      }

      a {
        color: var(--wp--preset--color--lime) !important;
        padding: var(--wp--custom--grid--gutter-sm) 2rem
          var(--wp--custom--grid--gutter-sm) 4rem !important;
        font-family: var(--wp--preset--font-family--plus-jakarta-sans);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: var(--wp--custom--typography--font-weight--bold);
        line-height: 100%;
        width: 100%;
        position: relative;
        height: 7rem;
        align-items: center;
        display: flex;

        &::before {
          content: "";
          position: absolute;
          top: 2.4rem;
          left: -0.7rem;
          height: 2rem;
          width: 1.1rem;
          border: 1px solid var(--wp--preset--color--lime);
          border-left: none;
          border-top-right-radius: 0.55rem;
          border-bottom-right-radius: 0.55rem;
        }

        &::after {
          content: "\e901";
          font-family: "icomoon";
          font-size: 1.7rem;
          text-align: center;
          line-height: 130%;
          right: 1.4rem;
          height: 2.2rem;
          width: 3.6rem;
          border: 1px solid var(--wp--preset--color--lime);
          padding: 0 0.5rem;
          border-radius: 2rem;
          position: absolute;
          background: none !important;
          top: unset;
        }

        &:hover {
          &::after {
            position: absolute !important;
            right: 1.4rem !important;
            left: unset !important;
          }
        }
      }
    }
  }
}
