// Component: Hero Cover
.is-style-hero-cover {
  width: 100% !important;
  max-width: 100% !important;
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  margin-bottom: 7rem;

  @media only screen and (min-width: $desktop) {
    column-gap: 3rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin-bottom: 16rem;
  }

  > * {
    grid-column: span 12;
    width: 100%;
    max-width: 100% !important;
  }

  figure {
    grid-column: span 11;
    border-top-right-radius: 10.5rem;
    border-bottom-left-radius: 10.5rem;
    overflow: hidden;
    height: 37rem;
    margin-top: -2rem;
    z-index: -1;

    @media only screen and (min-width: $tablet) {
      height: 79rem;
      border-top-right-radius: 41.6rem;
      border-bottom-left-radius: 41.6rem;
      margin-top: -7rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  sub {
    margin-right: 8%;
    opacity: 0;
    transition: 2s ease-in-out;
    transition-delay: 0.1s;
    transition-property: margin-right, opacity;
  }

  &.active {
    sub {
      opacity: 1;
      margin-right: 5%;
    }
  }
}
