// custom social link icons.
.wp-block-social-links {
  gap: 1rem;

  .wp-social-link {
    a {
      background-repeat: no-repeat;
      background-position: center;
      width: 3.4rem;
      height: 3.4rem;
    }
  }

  .wp-social-link-facebook {
    svg {
      display: none;
    }
    a {
      background-image: url("../images/icon-fb.svg");
    }
  }
  .wp-social-link-x {
    svg {
      display: none;
    }
    a {
      background-image: url("../images/icon-x.svg");
    }
  }
  .wp-social-link-instagram {
    svg {
      display: none;
    }
    a {
      background-image: url("../images/icon-instagram.svg");
    }
  }
  .wp-social-link-linkedin {
    svg {
      display: none;
    }
    a {
      background-image: url("../images/icon-linkedin.svg");
    }
  }
}
