.wp-block-social-links {
  .wp-social-link-facebook {
    svg {
      display: none;
    }
    a {
      background-image: url("../images/icon-fb.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 34px;
      height: 34px;
    }
  }
  .wp-social-link-x {
    svg {
      display: none;
    }
    a {
      background-image: url("../images/icon-x.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 34px;
      height: 34px;
    }
  }
  .wp-social-link-instagram {
    svg {
      display: none;
    }
    a {
      background-image: url("../images/icon-instagram.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 34px;
      height: 34px;
    }
  }
  .wp-social-link-linkedin {
    svg {
      display: none;
    }
    a {
      background-image: url("../images/icon-linkedin.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 34px;
      height: 34px;
    }
  }
}
