@import "../base/settings";
@import "../settings/grid";
@import "../settings/typography";

.is-style-banner-image {
  @include grid-container;
  margin-bottom: 9rem;

  @media only screen and (min-width: $desktop) {
    margin-bottom: 16rem;
  }

  &-internal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    grid-column: span 8;
    order: 2;

    @media only screen and (min-width: $tablet) {
      grid-column: span 3;
      order: unset;
    }

    @media only screen and (min-width: $desktop) {
      grid-column: span 5;
      width: 135%;
    }
  }

  .h4 {
    margin: 0;
    width: 100%;
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    font-weight: var(--wp--custom--typography--font-weight--bold);
    line-height: 110%;
    letter-spacing: 1px;
    text-decoration: none;
    pointer-events: none;

    a {
      text-decoration: none;
      pointer-events: none;
    }
  }

  h1 {
    color: var(--wp--preset--color--strawberry);
    margin-top: 1.5rem;
    margin-bottom: 0;
    width: 100%;
    z-index: 1;

    @media only screen and (min-width: $desktop) {
      margin-top: 2.5rem;
    }
  }

  figure {
    grid-column: span 8;
    border-radius: 0 12rem;
    overflow: hidden;
    width: 100%;
    max-height: 36.5rem;
    margin-bottom: 4rem;

    @media only screen and (min-width: $tablet) {
      grid-column: span 5;
      max-height: 36rem;
      border-radius: 0 16rem;
      margin-bottom: 0;
    }

    @media only screen and (min-width: $desktop) {
      grid-column: span 7;
      border-radius: 0 30rem;
      max-height: 67.5rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
