@import "../base/settings";
@import "../settings/grid";
@import "../settings/typography";

.is-style-card-stat-columns {
  flex-wrap: wrap !important;
  gap: 6rem;

  @media only screen and (min-width: $desktop) {
    gap: 2rem;
  }

  .wp-block-column {
    @media only screen and (min-width: $tablet) {
      flex-basis: 45% !important;
    }
    @media only screen and (min-width: $desktop) {
      flex-basis: 0 !important;
    }

    &:nth-of-type(odd) {
      .is-style-card-stat {
        @media only screen and (min-width: $tablet) {
          margin-right: 0;
        }
      }
    }

    &:nth-of-type(even) {
      .is-style-card-stat {
        @media only screen and (min-width: $tablet) {
          margin-left: 0;
        }
      }
    }
  }
}

.is-style-card-stat {
  background-color: var(--wp--preset--color--spruce);
  color: var(--wp--preset--color--coral);
  padding: 6.5rem 2.6rem 2.6rem;
  border-bottom-left-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 31rem;
  margin: auto;

  @media only screen and (min-width: $tablet) {
    padding: 8.3rem 3.5rem;
    max-width: 38rem;
  }

  // ticket notches
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -2rem;
    left: 0;
    height: 2.1rem;
    width: 33%;
    z-index: 1;
    border-right: none;
    border-top-left-radius: $sign-up-btn-border-radius-desktop;
    border-top-right-radius: 0.55rem;
    background-color: var(--wp--preset--color--spruce);

    @media only screen and (min-width: $desktop) {
      height: 3rem;
      top: -3rem;
    }
  }

  &::after {
    left: unset;
    right: 0;
    bottom: 0;
    border-top-left-radius: 0.55rem;
    border-top-right-radius: $sign-up-btn-border-radius-desktop;
  }

  h4 {
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    font-size: 2.5rem;
    font-weight: var(--wp--custom--typography--font-weight--bold);
    line-height: 100%;
    letter-spacing: 0.01rem;
    margin-bottom: 2rem;

    @media only screen and (min-width: $tablet) {
      font-size: 3.2rem;
    }

    // middle cutaway
    &::after {
      content: "";
      position: absolute;
      top: -0.5rem;
      left: 33%;
      height: 2rem;
      width: 34%;
      border: 1px solid var(--wp--preset--color--lime);
      border-left: none;
      border-bottom-right-radius: 0.55rem;
      border-bottom-left-radius: 0.55rem;
      background: var(--wp--preset--color--aqua);
      border: none;

      @media only screen and (min-width: $desktop) {
        top: -2rem;
        left: 33%;
        height: 2.6rem;
        width: 34%;
      }
    }
  }

  p {
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    margin: 0;
  }

  &-number {
    padding-bottom: 5.2rem;

    p {
      font-family: var(--wp--preset--font-family--prompt);
      font-size: 7rem;
      font-weight: var(--wp--custom--typography--font-weight--bold);
      line-height: 8rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }

    h4 {
      margin-bottom: 0;
    }
  }
}

/* Block Editor styling */
.editor-styles-wrapper {
  .is-style-card-stat {
    h4,
    p {
      padding-left: 2rem;
      padding-right: 2rem;

      &::after {
        top: -9rem;
      }
    }

    &-number {
      h4,
      p {
        &::after {
          top: -18rem;
        }
      }
    }
  }
}
