@import "../base/settings";
@import "../settings/grid";
@import "../settings/typography";

.editor-styles-wrapper {
  .is-style-client-list {
    .is-style-client-list-internal {
      p {
        max-width: unset !important;
      }
      p:nth-child(odd),
      p:nth-child(even) {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }
    }
  }
}

.is-style-client-list-wrapper {
  background-color: var(--wp--preset--color--white);
  overflow: hidden;
  padding: 5.2rem var(--wp--custom--grid--gutter) 7rem;

  @media (min-width: $tablet) {
    padding: 5rem var(--wp--custom--grid--gutter-medium);
  }
  @media (min-width: $desktop) {
    padding: 12.2rem var(--wp--custom--grid--gutter-large);
  }

  // transition
  &.fade-in.active {
    .is-style-client-list-internal {
      p:nth-child(even) {
        margin-left: 0 !important;
        margin-right: auto !important;
      }
      p:nth-child(odd) {
        margin-right: 0 !important;
        margin-left: auto !important;
      }
    }
  }
}

.is-style-client-list {
  text-align: center;
  position: relative;
  border-bottom: 2px solid var(--wp--preset--color--strawberry);
  z-index: 0;

  h2 {
    background: var(--wp--preset--color--white);

    &::before {
      background-color: var(--wp--preset--color--strawberry);
    }
  }

  .is-style-client-list-internal {
    max-width: 95vw !important;

    @media only screen and (min-width: $tablet) {
      max-width: 85vw !important;
    }
    @media only screen and (min-width: 900px) {
      max-width: 65vw !important;
    }
    @media only screen and (min-width: $desktop) {
      max-width: 100.5rem !important;
    }
    @media only screen and (min-width: 1400px) {
      max-width: 115rem !important;
    }
  }

  p {
    color: var(--wp--preset--color--strawberry);
    font-family: var(--wp--preset--font-family--prompt);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: var(--wp--custom--typography--font-weight--bold);
    line-height: 3.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    text-align: left;
    transition: 1s ease-in-out;
    transition-property: margin-left, margin-right;
    transition-delay: 0.2s;

    @media only screen and (min-width: $desktop) {
      min-width: 100rem !important;
      max-width: 100rem !important;
    }

    // client has max 10 clients, so we can run the iterating animation in css, no js.
    &:nth-child(2) {
      transition-delay: 0.5s;
    }
    &:nth-child(3) {
      transition-delay: 0.75s;
    }
    &:nth-child(4) {
      transition-delay: 1s;
    }
    &:nth-child(5) {
      transition-delay: 1.25s;
    }
    &:nth-child(6) {
      transition-delay: 1.5s;
    }
    &:nth-child(7) {
      transition-delay: 1.75s;
    }
    &:nth-child(8) {
      transition-delay: 2s;
    }
    &:nth-child(9) {
      transition-delay: 2.25s;
    }
    &:nth-child(10) {
      transition-delay: 2.5s;
    }

    @media only screen and (min-width: $tablet) {
      margin-bottom: 0;
      font-weight: var(--wp--custom--typography--font-weight--bold);
      letter-spacing: 0.5rem;
      font-size: 5.5rem;
      line-height: 5.5rem;
    }

    @media only screen and (min-width: $desktop) {
      font-size: 10rem;
      line-height: 10rem;
    }

    &:nth-child(even) {
      @media only screen and (min-width: $desktop) {
        margin-left: -25vw !important;
      }
    }

    &:nth-child(odd) {
      font-family: var(--wp--preset--font-family--plus-jakarta-sans);
      font-size: 3.3rem;
      font-weight: var(--wp--custom--typography--font-weight--normal);
      line-height: 3.3rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: right;
      margin-bottom: 1rem;

      @media only screen and (min-width: $tablet) {
        font-weight: var(--wp--custom--typography--font-weight--normal);
        letter-spacing: 0.5rem;
        margin-left: 0 !important;
        font-size: 4.5rem;
        line-height: 4.5rem;
      }

      @media only screen and (min-width: $desktop) {
        font-size: 8rem;
        line-height: 8rem;
        margin-right: -25vw !important;
      }
    }

    &:first-of-type {
      margin-top: 4.5rem;
      text-align: center;

      @media only screen and (min-width: $tablet) {
        margin-top: 6.8rem;
      }

      @media only screen and (min-width: $desktop) {
        text-align: right;
      }
    }

    &:last-of-type {
      margin-bottom: 6.8rem;

      @media only screen and (min-width: $desktop) {
        margin-bottom: 10rem;
      }
    }
  }
}

// client list animation - uses scrollMagic
body .clients {
  position: relative;
  border-bottom: 0.2rem solid var(--wp--preset--color--base);
  margin-bottom: 10rem;

  .is-style-keyline-heading {
    background-color: var(--wp--preset--color--aqua);
    color: var(--wp--preset--color--base);

    &::before {
      background-color: var(--wp--preset--color--base);
    }
  }

  .clients-internal-wrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow: hidden;
    text-align: center;
    position: relative;
    z-index: 4;
    width: 100vw !important;
    max-width: 100vw !important;
    margin-left: -6rem !important;
    margin-right: -6rem !important;

    @media (min-width: $desktop) {
      padding-top: 8.2rem;
      padding-bottom: 8.2rem;
    }
  }

  .clients-internal {
    width: 200vw;
    display: flex;
    align-items: center;
    margin-top: 1.5rem * 0.333;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 200% !important;

    @media (min-width: $desktop) {
      justify-content: left;
      flex-wrap: nowrap;
    }
    @media (min-width: $wide) {
      max-width: 150% !important;
      width: 150vw;
    }

    > .clients-item {
      padding: 2%;
      width: 20%;

      @media (min-width: $desktop) {
        padding: 1% 2%;
      }
      @media (min-width: $wide) {
        width: 11.11%;
        padding: 0 2%;
      }

      img {
        width: 100%;
        height: auto;
        max-width: 11rem;
      }
    }
  }
}
