@import "../base/settings";
@import "../settings/grid";
@import "../settings/typography";

// Component: Single Column Copy
.is-style-double-column-copy {
  @include grid-container;

  .is-style-double-column-copy-cols {
    grid-column: span 8;
    display: flex;
    flex-direction: column;
    gap: 0;

    @media only screen and (min-width: $desktop) {
      grid-column: 3 / span 8;
      flex-direction: row;
      gap: 4rem;
    }
  }

  .is-style-double-column-copy-col {
    flex-basis: 50%;
  }

  h2 {
    margin-left: 0 !important;
    grid-column: span 8;

    @media only screen and (min-width: $desktop) {
      grid-column: 2 / span 7;
    }
  }

  h3,
  h4,
  h5,
  h6,
  p {
    width: 100%;
    grid-column: span 8;

    @media only screen and (min-width: $tablet) {
      grid-column: 2 / span 6;
    }

    @media only screen and (min-width: $desktop) {
      grid-column: 6 / span 5;
    }
  }

  ~ .is-style-body-text-right {
    padding-top: 3rem;

    @media only screen and (min-width: $desktop) {
      padding-top: 12rem;
    }
  }
}
