@import "../base/settings";
@import "../settings/grid";
@import "../settings/typography";

.wp-block-jetpack-contact-form-container {
  @include grid-container;
  margin-bottom: 9rem;

  @media only screen and (min-width: $desktop) {
    margin-bottom: 16rem;
  }
}

form.contact-form {
  grid-column: span 8;

  @media only screen and (min-width: $tablet) {
    grid-column: 2 / span 6;
  }

  @media only screen and (min-width: $desktop) {
    grid-column: 2 / span 8;
  }
}

.wp-block-jetpack-contact-form {
  gap: 3rem !important;

  .block-editor-block-list__layout {
    gap: 3rem !important;
  }

  label {
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    font-size: 1.6rem;
    font-weight: var(--wp--custom--typography--font-weight--bold);
    line-height: 2rem;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
  }

  .jetpack-field__input,
  .jetpack-field__textarea,
  input,
  textarea {
    border-radius: 3rem;
    border: 1px solid var(--wp--preset--color--strawberry);
    background: var(--wp--preset--color--white);
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    line-height: 2.4rem;
    padding: 1.6rem 3rem;
  }

  button {
    margin-top: 1rem;

    &.wp-block-button__link::after {
      width: 3.2rem;
    }
  }

  .contact-form__error {
    border-radius: 2rem;
    padding: 3rem 2rem;
    font-size: 1.4rem;
    background-color: var(--wp--preset--color--strawberry);
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    letter-spacing: 0.08rem;
    margin-bottom: 2rem;

    .contact-form__warning-icon {
      display: none;
    }
  }
}

.contact-form-submission {
  grid-column: span 8;

  @media only screen and (min-width: $desktop) {
    grid-column: span 12;
  }
}
