@import "../base/settings";
@import "../settings/grid";
@import "../settings/typography";
@import "../settings/imagery";

.is-style-gallery {
  background-color: var(--wp--preset--color--spruce);
  padding: 5.2rem var(--wp--custom--grid--gutter);

  @media (min-width: $tablet) {
    padding: 5rem var(--wp--custom--grid--gutter-medium);
  }
  @media (min-width: $desktop) {
    padding: 12.2rem var(--wp--custom--grid--gutter-large);
  }

  // inset heading
  h2 {
    color: var(--wp--preset--color--coral);
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    text-transform: uppercase;
    font-size: 3.3rem;
    font-weight: var(--wp--custom--typography--font-weight--normal);
    line-height: 75%;
    letter-spacing: 0.2rem;
    margin-bottom: 3rem;

    @media (min-width: $desktop) {
      font-size: 9rem;
      letter-spacing: 0.5rem;
      margin-top: var(--wp--preset--spacing--small);
    }

    @media (min-width: 1300px) {
      font-size: 10rem;
    }

    sub {
      display: block;
      font-family: var(--wp--preset--font-family--prompt);
      font-size: 3.5rem;
      font-weight: var(--wp--custom--typography--font-weight--bold);
      line-height: initial;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      margin-left: 9.5vw;
      transition: 0.2s ease-in-out;

      @media (min-width: $desktop) {
        font-size: 9rem;
        letter-spacing: 0.5rem;
        margin-left: 0;
      }

      @media (min-width: 1300px) {
        font-size: 10rem;
      }

      @media (min-width: 1600px) {
        margin-left: 9.5vw;
      }
    }
  }

  // imagery
  figure {
    margin-bottom: 1.3rem;
    width: 100%;

    img {
      @include image-object-cover;
      border-radius: 0 7rem 0 7rem;
      object-position: bottom;

      @media (min-width: $tablet) {
        border-radius: 0 5.8rem 0 5.8rem;
      }

      @media (min-width: $desktop) {
        border-radius: 0 12.5rem 0 12.5rem;
      }
    }
  }

  // columns
  .wp-block-columns {
    @include grid-container-full-width;
    width: 100% !important;
    max-width: var(--wp--style--global--wide-size);
    margin-bottom: 0;
    column-gap: var(--wp--preset--spacing--small);

    @media only screen and (min-width: $desktop) {
      column-gap: 3rem;
      margin-bottom: 3rem;
    }

    // left col
    .wp-block-column:first-of-type {
      grid-column: span 8;

      @media only screen and (max-width: $tablet) {
        order: 2;
        display: flex;
        gap: 1.4rem;
      }

      @media only screen and (min-width: $tablet) {
        grid-column: span 3;
      }

      @media only screen and (min-width: $desktop) {
        grid-column: span 5;
        padding-right: 2rem;
      }

      figure {
        margin-bottom: 2.5rem;

        @media only screen and (min-width: $desktop) {
          margin-bottom: 5.5rem;
        }
      }

      figure:first-of-type {
        @media only screen and (max-width: $tablet) {
          order: 2;
          display: flex;
          width: 60%;
        }

        img {
          max-height: 63rem;
        }
      }

      figure:last-of-type {
        text-align: right;
        border-radius: 0;

        @media only screen and (max-width: $tablet) {
          display: flex;
          width: 40%;
        }

        img {
          border-radius: 0 0 0 5rem;
          max-height: 21.5rem;
          object-position: center;

          @media only screen and (max-width: $tablet) {
            height: 50%;
          }

          @media only screen and (min-width: $tablet) {
            border-radius: 0 0 0 6rem;
            width: 65% !important;
          }

          @media only screen and (min-width: $desktop) {
            border-radius: 0 0 0 13rem;
            width: 55% !important;
          }
        }
      }
    }

    // right col
    .wp-block-column:last-of-type {
      grid-column: span 8;

      @media only screen and (max-width: $tablet) {
        order: 1;
      }

      @media only screen and (min-width: $tablet) {
        grid-column: span 5;
      }

      @media only screen and (min-width: $desktop) {
        grid-column: span 7;
      }

      figure {
        img {
          border-radius: 7rem 0 7rem 0;
          max-height: 71.5rem;

          @media (min-width: $tablet) {
            border-radius: 0 5.8rem 0 5.8rem;
          }

          @media only screen and (min-width: $desktop) {
            border-radius: 0 12.5rem 0 12.5rem;
          }
        }
      }
    }
  }

  // text
  > .wp-block-group {
    width: 100% !important;
  }

  // paragraph
  p {
    color: var(--wp--preset--color--white);
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 3rem;

    @media only screen and (min-width: $tablet) {
      width: 60%;
      margin-top: 5rem;
    }

    @media only screen and (min-width: $desktop) {
      width: 30%;
      font-size: 1.6rem;
      margin-top: -10rem;
    }

    &:first-letter {
      color: var(--wp--preset--color--coral);
      float: left;
      font-family: var(--wp--preset--font-family--prompt);
      font-size: 4.6rem;
      font-weight: var(--wp--custom--typography--font-weight--bold);
      line-height: 90%;
      padding-top: -1.4rem;
      padding-right: 0.8rem;
      padding-left: 0.3rem;

      @media only screen and (min-width: $desktop) {
        font-size: 7.7rem;
      }
    }
  }

  // button
  .wp-block-buttons {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    justify-content: flex-end;

    @media only screen and (min-width: $tablet) {
      width: 60%;
    }

    @media only screen and (min-width: $desktop) {
      width: 30%;
    }
  }

  .wp-block-button {
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    font-size: 1.6rem;
    font-weight: var(--wp--custom--typography--font-weight--bold);
    line-height: 2rem;
    letter-spacing: 0.32px;

    &__link {
      background-color: inherit;
      border: none;
      display: flex;
      align-items: center;
      color: var(--wp--preset--color--white);

      &:hover {
        text-decoration: none;
        background-color: var(--wp--preset--color--coral);

        &::after {
          border: 1px solid var(--wp--preset--color--base);
        }
      }

      &::after {
        content: "\e901";
        color: var(--wp--preset--color--white);
        font-family: "icomoon";
        font-size: 1.7rem;
        text-align: center;
        line-height: 130%;
        height: 2.2rem;
        width: 3.6rem;
        border: 1px solid var(--wp--preset--color--coral);
        padding: 0.2rem 2rem;
        border-radius: 2rem;
        margin-left: 1.6rem;

        @media (min-width: $desktop) {
          height: 3.5rem;
          width: 7.5rem;
          font-size: 2.6rem;
          text-align: center;
          line-height: 3.5rem;
        }
      }
    }
  }
}

/* Block Editor styling */
.editor-styles-wrapper {
  .is-style-gallery {
    h2 {
      font-size: 8rem;

      sub {
        font-size: 8rem;
        margin-left: 0 !important;
      }
    }

    .wp-block-button__link {
      background: none;
    }
  }
}
