@import "../base/settings";
@import "../settings/grid";
@import "../settings/typography";
@import "../settings/imagery";

// Component: Hero Cover
.is-style-hero-cover {
  margin-bottom: 7rem;

  @media only screen and (min-width: $desktop) {
    margin-bottom: 16rem;
  }

  > * {
    grid-column: span 12;
    width: 100%;
    max-width: 100% !important;
  }

  h1 {
    position: relative;
    z-index: 1;
  }

  figure {
    grid-column: span 11;
    border-top-right-radius: 10.5rem;
    border-bottom-left-radius: 10.5rem;
    overflow: hidden;
    height: 37rem;
    margin-top: -2rem;

    @media only screen and (min-width: $tablet) {
      height: 79rem;
      border-top-right-radius: 41.6rem;
      border-bottom-left-radius: 41.6rem;
      margin-top: -16.5rem;
    }

    img {
      @include image-object-cover;
    }
  }

  sub {
    margin-right: 13%;
    opacity: 0;
    transition: 2s ease-in-out;
    transition-delay: 0.1s;
    transition-property: margin-right, opacity;
  }

  &.active {
    sub {
      opacity: 1;
      margin-right: 7%;
    }
  }
}

/* Block Editor styling */
.editor-styles-wrapper {
  .is-style-hero-cover {
    sub {
      opacity: 1;
    }
  }
}
