@import "../base/settings";
@import "../settings/grid";
@import "../settings/typography";

// pullquote
.wp-block-pullquote {
  @include grid-container;
  padding: 0;
  margin-bottom: 6rem;

  @media only screen and (min-width: $desktop) {
    margin-bottom: 14rem;
  }

  blockquote {
    margin: 0;
    grid-column: span 8;

    @media only screen and (min-width: $desktop) {
      grid-column: 3 / span 8;
    }
  }

  p {
    color: var(--wp--preset--color--spruce);
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.5px;
    margin: 0;
    @include margin-horizontal-reset;
    width: 100%;
    text-align: left;

    @media only screen and (min-width: $desktop) {
      font-size: 4.6rem;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 1px;
    }

    &:first-letter {
      float: left;
      font-weight: 800;
      font-size: 5.4rem;
      line-height: 85%;
      letter-spacing: 0.5px;
      margin-right: 0.5rem;

      @media only screen and (min-width: $desktop) {
        font-size: 10.8rem;
        line-height: 80%;
        letter-spacing: 1.5px;
      }
    }
  }

  cite {
    color: var(--wp--preset--color--spruce);
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    display: block;
    text-align: left;
    margin-top: 4rem;
    font-style: normal;

    strong {
      color: var(--wp--preset--color--spruce);
      font-family: var(--wp--preset--font-family--prompt);
      font-size: 2.5rem;
      line-height: 100%;
      letter-spacing: 0.2rem;
      font-weight: var(--wp--custom--typography--font-weight--bold);
    }
  }
}
