@import "../base/settings";
@import "../settings/grid";
@import "../settings/typography";

// Component: Single Column Copy
.is-style-single-column-copy {
  @include grid-container;

  h2 {
    grid-column: span 8;
    margin-left: 0 !important;

    @media only screen and (min-width: $desktop) {
      grid-column: 2 / span 7;
    }
  }

  p:last-of-type {
    margin-bottom: 7rem;

    @media only screen and (min-width: $desktop) {
      margin-bottom: 16rem;
    }
  }

  h3,
  h4,
  h5,
  h6,
  p {
    width: 100%;
    grid-column: span 8;

    @media only screen and (min-width: $tablet) {
      grid-column: 2 / span 6;
    }

    @media only screen and (min-width: $desktop) {
      grid-column: 6 / span 5;
    }
  }
}

// Body text: right
.wp-block-group {
  &.is-style-body-text-right {
    padding-top: 7rem;
    padding-bottom: 6rem;

    @media only screen and (min-width: $desktop) {
      padding-top: 16rem;
      width: 50%;
      margin-right: 0 !important;
      text-align: right;
    }

    p {
      @media only screen and (min-width: $desktop) {
        width: 70%;
        margin-right: 0 !important;
      }
    }

    h2 {
      margin-bottom: 3rem;

      @media only screen and (min-width: $desktop) {
        margin-bottom: 5rem;
      }
    }

    &:has(h3) {
      h2 {
        @include h4;
        color: var(--wp--preset--color--spruce);
        font-family: var(--wp--preset--font-family--plus-jakarta-sans);
        font-weight: var(--wp--custom--typography--font-weight--bold);
        text-transform: capitalize;
        margin-bottom: 1.5rem;

        @media only screen and (min-width: $desktop) {
          margin-bottom: 1.5rem;
        }
      }

      h3 {
        @include h2;
        margin-bottom: 3rem;

        @media only screen and (min-width: $desktop) {
          margin-bottom: 5rem;
        }
      }
    }
  }
}

// Body text: left
.wp-block-group {
  &.is-style-body-text-left {
    padding-top: 7rem;
    padding-bottom: 6rem;

    @media only screen and (min-width: $desktop) {
      padding-top: 16rem;
      margin-left: 0 !important;
      width: 50%;
    }

    h2 {
      @include h4;
      color: var(--wp--preset--color--spruce);
      font-family: var(--wp--preset--font-family--plus-jakarta-sans);
      font-weight: var(--wp--custom--typography--font-weight--bold);
      text-transform: capitalize;
      margin-bottom: 1.5rem;

      @media only screen and (min-width: $desktop) {
        margin-bottom: 1.5rem;
      }
    }

    h3 {
      @include h2;
      margin-bottom: 3rem;

      @media only screen and (min-width: $desktop) {
        margin-bottom: 5rem;
      }
    }

    p {
      @media only screen and (min-width: $desktop) {
        width: 70%;
        margin-left: 0 !important;
      }
    }
  }
}

/* Block Editor styling */
.editor-styles-wrapper {
  .block-editor-block-list__layout.is-root-container > {
    .is-style-body-text-right.is-layout-constrained {
      margin-right: 3rem !important;
    }
    .is-style-body-text-left.is-layout-constrained {
      margin-left: 3rem !important;
    }
  }
}
