@import "../base/settings";
@import "../settings/grid";
@import "../settings/typography";

body .taxonomy-channels {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-bottom: 7rem;
  align-items: flex-start;
  flex-direction: column;
  position: relative;

  @media only screen and (min-width: $tablet) {
    align-items: center;
    margin-bottom: 10rem;
    flex-direction: row;
    max-width: 100% !important;
  }

  &::before {
    content: "Channels";
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    margin-bottom: 10px;

    @media only screen and (min-width: $tablet) {
      position: relative;
      top: unset;
      left: unset;
      margin-bottom: 0;
    }
  }

  a {
    @include label;
    background-color: var(--wp--preset--color--lime);
    border-radius: 6rem;
    padding: 1rem 2.5rem;
    text-decoration: none;
    pointer-events: none;
  }

  span {
    display: none;
  }
}
