<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<div class="entry-content">
		<!-- wp:group {"className":"is-style-banner-text fade-in","layout":{"type":"constrained"}} -->
		<div class="wp-block-group is-style-banner-text fade-in">
			<!-- wp:group {"className":"is-style-banner-text-internal","layout":{"type":"constrained"}} -->
			<div class="wp-block-group is-style-banner-text-internal">
				<!-- wp:paragraph {"className":"h4"} -->
				<p class="h4">Case Studies</p>
				<!-- /wp:paragraph -->
				<!-- wp:heading {"level":1} -->
				<h1 class="wp-block-heading">Meeting travellers where they’re at</h1>
				<!-- /wp:heading -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"className":"is-style-cards featured-cards fade-in","layout":{"type":"constrained"}} -->
		<div class="wp-block-group is-style-cards featured-cards fade-in">
			<!-- wp:heading {"className":"is-style-keyline-heading"} -->
			<h2 class="wp-block-heading is-style-keyline-heading">FEATURED</h2>
			<!-- /wp:heading -->
			<!-- wp:query {"queryId":6,"query":{"perPage":1,"pages":"1","offset":0,"postType":"case-study","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"featured":[8]},"parents":[]}} -->
			<div class="wp-block-query">
				<!-- wp:post-template -->
				<!-- wp:post-featured-image /-->
				<!-- wp:group {"layout":{"type":"constrained"}} -->
				<div class="wp-block-group">
					<!-- wp:post-terms {"term":"clients"} /-->
					<!-- wp:post-title {"level":4} /-->
					<!-- wp:post-excerpt {"excerptLength":40} /-->
					<!-- wp:read-more /-->
				</div>
				<!-- /wp:group -->
				<!-- /wp:post-template -->
			</div>
				<!-- wp:query-pagination -->
				<!-- wp:query-pagination-previous /-->
				<!-- wp:query-pagination-numbers /-->
				<!-- wp:query-pagination-next /-->
				<!-- /wp:query-pagination -->
			<!-- /wp:query -->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"templateLock":"contentOnly","className":"is-style-cards archive-cards fade-in","layout":{"type":"constrained"}} -->
		<div class="wp-block-group is-style-cards archive-cards fade-in">
			<!-- wp:query {"queryId":6,"query":{"perPage":5,"pages":"5","offset":0,"postType":"case-study","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":{"featured":[24]},"parents":[]}} -->
			<div class="wp-block-query">
				<!-- wp:post-template -->
				<!-- wp:post-featured-image /-->
				<!-- wp:group {"layout":{"type":"constrained"}} -->
				<div class="wp-block-group">
					<!-- wp:post-terms {"term":"clients"} /-->
					<!-- wp:post-title {"level":4} /-->
					<!-- wp:post-excerpt {"excerptLength":30} /-->
					<!-- wp:read-more /-->
				</div>
				<!-- /wp:group -->
				<!-- /wp:post-template -->
			</div>
				<!-- wp:query-pagination -->
				<!-- wp:query-pagination-previous /-->
				<!-- wp:query-pagination-numbers /-->
				<!-- wp:query-pagination-next /-->
				<!-- /wp:query-pagination -->
			<!-- /wp:query -->
		</div>
		<!-- /wp:group -->
	</div>
</main>

<!-- wp:template-part {"slug":"footer-cta"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
