<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
	<!-- wp:pattern {"slug":"origin/comments"} /-->
</main>
<!-- /wp:group -->

<!-- wp:group {"templateLock":"contentOnly", "className":"footer-row\u002d\u002dtop","layout":{"type":"constrained"}} -->
<div class="wp-block-group footer-contact-cta">
	<!-- wp:html -->
	<div class="footer-contact-cta__internal">
		<h2>Get<strong><span class="graphic-btn"></span>in<span class="graphic-btn--thumb"></span>touch<span class="graphic-btn--line"></span></strong></h2>
		<!-- wp:buttons -->
		<div class="wp-block-buttons">
			<!-- wp:button -->
			<div class="wp-block-button">
				<a class="wp-block-button__link wp-element-button" href="https://www.google.com">Contact us</a>
			</div>
			<!-- /wp:button -->
		</div>
		<!-- /wp:buttons -->
	</div>
	<!-- /wp:html -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer fade-in"} /-->
