* {
  box-sizing: border-box;
}

html {
  font-size: calc(1 * 62.5%);
  scroll-padding-top: 112px; // TODO
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--wp--preset--color--aqua);
  font-size: 1.8rem;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wp-site-blocks {
  padding: 0;
}

a {
  &:hover {
    text-decoration: underline;
  }
}
