* {
  box-sizing: border-box;
}

html {
  font-size: calc(1 * 62.5%);
  scroll-padding-top: 112px; // TODO
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--wp--preset--color--aqua);
  font-size: 1.8rem;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.has-global-padding {
  padding: 0;
}

.wp-site-blocks {
  padding: 0;
}

a {
  &:hover {
    text-decoration: underline;
  }
}

// Navigation block - change mobile menu breakpoint.
body .wp-block-navigation__responsive-container-open:not(.always-shown) {
  display: block !important;
}
body
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(
    .is-menu-open
  ) {
  display: none !important;
}

@media (min-width: 1050px) {
  body .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none !important;
  }
  body
    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(
      .is-menu-open
    ) {
    display: block !important;
  }
}
