* {
  box-sizing: border-box;
}

html {
  font-size: calc(1 * 62.5%);
  scroll-padding-top: 10.5rem; // height of desktop nav
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--wp--preset--color--aqua);
  font-size: 1.8rem;
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 2.4rem !important;
  margin-top: 0 !important;

  @media only screen and (min-width: $desktop) {
    padding-top: 5rem !important;
  }
}

.has-global-padding {
  padding: 0;
}

.wp-site-blocks {
  padding: 0;
}

a {
  &:hover {
    text-decoration: underline;
  }
}
