.wp-block-button,
.wp-block-button.wp-block {
  .wp-block-button__link {
    background-color: var(--wp--preset--color--lime);
    border: 2px solid var(--wp--preset--color--lime);
    color: var(--wp--preset--color--base);
    border-radius: 5.5rem;
    padding: 1rem 2.6rem 1rem 3rem;
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    font-size: 1.6rem;
    font-weight: var(--wp--custom--typography--font-weight--bold);
    line-height: 2rem;
    letter-spacing: 0.32px;
    display: inline-flex;
    align-items: center;

    &:hover {
      background-color: var(--wp--preset--color--white);
      text-decoration: none;

      &:hover {
        &::after {
          @media (min-width: $desktop) {
            font-size: 3.3rem;
          }
        }
      }
    }

    &::after {
      content: "\e901";
      font-family: "icomoon";
      font-size: 2.4rem;
      font-weight: var(--wp--custom--typography--font-weight--light);
      text-align: center;
      border-radius: 2rem;
      margin-left: 0.6rem;
      margin-bottom: -0.3rem;
      transition: 0.2s ease-in-out;

      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.5rem;
      width: 7.5rem;
    }
  }

  // strawberry
  &.btn--strawberry {
    .wp-block-button__link {
      background-color: var(--wp--preset--color--strawberry);
      border: 2px solid var(--wp--preset--color--strawberry);
      color: var(--wp--preset--color--white);

      &::after {
        color: var(--wp--preset--color--white);
      }

      &:hover {
        background-color: var(--wp--preset--color--white);
        color: var(--wp--preset--color--base);
        text-decoration: none;

        &::after {
          color: var(--wp--preset--color--base);
        }
      }
    }
  }
}

// newsletter sign up in footer
.wp-block-buttons.sign-up-wrapper {
  border: 1px solid var(--wp--preset--color--lime);
  border-left: none;
  padding: 0;
  position: relative;
  width: max-content;
  border-top-right-radius: $sign-up-btn-border-radius-mob;
  border-bottom-right-radius: $sign-up-btn-border-radius-mob;
  margin: 5rem 0 5rem auto !important;

  @media (min-width: $desktop) {
    border-top-right-radius: $sign-up-btn-border-radius-desktop;
    border-bottom-right-radius: $sign-up-btn-border-radius-desktop;
    margin-bottom: 13rem !important;
  }

  &:hover {
    background-color: var(--wp--preset--color--lime);

    &::before,
    &::after {
      background-color: var(--wp--preset--color--lime);
    }

    .is-style-newsletter-sign-up::before {
      background-color: var(--wp--preset--color--pine);
    }

    .wp-block-button__link {
      color: var(--wp--preset--color--pine);

      &::after {
        border: 1px solid var(--wp--preset--color--pine);
      }
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1.4rem;
    height: 2rem;
    width: 1.4rem;
    border: 1px solid var(--wp--preset--color--lime);
    border-right: none;
    border-top-left-radius: $sign-up-btn-border-radius-mob;
    border-bottom-left-radius: $sign-up-btn-border-radius-mob;

    @media (min-width: $desktop) {
      border-top-left-radius: $sign-up-btn-border-radius-desktop;
      border-bottom-left-radius: $sign-up-btn-border-radius-desktop;
      height: 5rem;
      width: 2.5rem;
    }
  }

  &::after {
    top: unset;
    bottom: -1px;
  }

  .is-style-newsletter-sign-up {
    position: relative;
    padding-left: 2.8rem;

    @media (min-width: $desktop) {
      padding-left: 10.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 2rem;
      left: -0.7rem;
      height: 2.4rem;
      width: 1.1rem;
      border: 1px solid var(--wp--preset--color--lime);
      border-left: none;
      border-top-right-radius: $sign-up-btn-border-radius-mob;
      border-bottom-right-radius: $sign-up-btn-border-radius-mob;

      @media (min-width: $desktop) {
        top: 5rem;
        left: -1px;
        height: 5rem;
        width: 2.2rem;
        border-top-right-radius: $sign-up-btn-border-radius-desktop;
        border-bottom-right-radius: $sign-up-btn-border-radius-desktop;
      }
    }
  }

  .wp-block-button__link {
    border: none;
    background: none;
    color: var(--wp--preset--color--lime);
    font-family: var(--wp--preset--font-family--plus-jakarta-sans);
    font-size: 1.6rem;
    font-weight: var(--wp--custom--typography--font-weight--bold);
    line-height: 100%;
    text-align: left;
    padding: var(--wp--custom--grid--gutter-sm) 1.4rem
      var(--wp--custom--grid--gutter-sm) 4rem;
    display: flex;
    align-items: center;
    max-width: 24rem;

    @media (min-width: $desktop) {
      font-size: 3.8rem;
      padding: 3.8rem 1.4rem 3.8rem 4rem;
      max-width: 47.5rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &::before {
      content: "\e900";
      font-family: "icomoon";
      font-size: 2.8rem;
      font-weight: var(--wp--custom--typography--font-weight--light);
      text-align: center;
      line-height: 90%;
      margin-right: 1.2rem;
      left: 2.4rem;
      height: 2.2rem;
      width: 3rem;

      @media (min-width: $desktop) {
        left: 7rem;
        height: 3.2rem;
        width: 4.5rem;
        font-size: 4rem;
        text-align: center;
        line-height: 100%;
      }
    }

    &::after {
      content: "\e901";
      right: 1.4rem;
      border: 1px solid var(--wp--preset--color--lime);
      width: 4rem;
      height: 2.5rem;

      @media (min-width: $desktop) {
        right: 3.5rem;
        height: 3.5rem;
        width: 7.5rem;
      }
    }
  }
}
