p {
  font-size: 1.6rem;
  line-height: 140%;
  letter-spacing: 0;
  margin-bottom: 4rem;
  margin-top: 0;

  @media only screen and (min-width: 1600px) {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 5rem;
  }
}

.drop-cap {
  color: var(--wp--preset--color--white);
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  width: 100%;
  @include margin-horizontal-reset;

  @media only screen and (min-width: $desktop) {
    font-size: 1.6rem;
    max-width: 40%;
  }

  &:first-letter {
    color: var(--wp--preset--color--lime);
    float: left;
    font-family: var(--wp--preset--font-family--prompt);
    font-size: 7.5rem;
    font-weight: var(--wp--custom--typography--font-weight--bold);
    line-height: 7rem;
    padding-top: -1.4rem;
    padding-right: 0.8rem;
    padding-left: 0.3rem;

    @media only screen and (min-width: $desktop) {
      padding-top: 1rem;
      font-size: 8.5rem;
      line-height: 5.5rem;
    }
  }
}

a {
  &:hover {
    text-decoration: underline;
  }
}

img {
  width: 100%;
}
