// grid
@mixin container {
  width: 100%;
  max-width: var(--wp--style--global--wide-size);
  margin: auto;
}

// set non-dynamic content width
body
  .is-layout-constrained
  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: var(--wp--style--global--wide-size) !important;
}

.entry-content {
  padding: 0 var(--wp--custom--grid--gutter);

  @media (min-width: $tablet) {
    padding: 0 var(--wp--custom--grid--gutter-medium);
  }

  @media (min-width: $desktop) {
    padding: 0 var(--wp--custom--grid--gutter-large);
  }
}

// Full width container
body .entry-content .is-full-width-container {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
  max-width: 100vw !important;
}
