// headings
h1,
h2,
h3 {
  font-family: var(--wp--preset--font-family--prompt);
  text-transform: uppercase;
}

h2,
h3 {
  color: var(--wp--preset--color--strawberry);
}

h4,
h5,
h6 {
  font-family: var(--wp--preset--font-family--plus-jakarta-sans);
  font-weight: var(--wp--custom--typography--font-weight--bold);
}

h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}

h6,
.h6 {
  @include h6;
}

// hero banner heading
.is-style-hero-heading {
  @include hero;
}

// keyline section heading
.is-style-keyline-heading {
  @include keyline;
}

/* labels */
.label {
  @include label;
}
