/**
 * breakpoints - design-led
 */
$tablet: 768px;
$desktop: 1200px;
$desktop-lg: 1400px;
$wide: 1600px;

/**
 * breakpoints - custom and specific
 */
$footer-desktop: 1125px;

/**
 * border radius - these are prevalent throughout the site.
 */
$sign-up-btn-border-radius-desktop: 1.1rem;
$sign-up-btn-border-radius-mob: 0.55rem;

/**
 * animation
 */
$transition-ui: 0.2s ease-in-out;
